.btn-Twitter {
  background-color: #8AC13C;
  padding: 25px;
  font-size: 18px;
}

.btn-Twitter:focus, .btn-Twitter:hover {
  background-color: rgba(138, 193, 60, .9);
  color: #fff;
}

.navbar-form {
  padding: 0;
}
