@import "{}/client/templates/css/global.scss";

/* TODO: UNCOMMENT THIS WHEN READY;
body > .inner {
  display: none;
}
 */

body.pg-loaded > .inner {
  display: block;
}

.pt-nav-container {
  background-color: #fff;
}

.pt-nav-container .container {
  padding-left: 0;
  padding-right: 0;
}

.pt-navbar {
  background-color: #fff;
  border: none;
  border-radius: 0;
  color: $pt-green;
  margin-bottom: 0;
  font-size: 16px;
}

.pt-navbar .navbar-brand {
  color: $pt-green;
  padding: 10px;
}

.pt-navbar .navbar-brand img {
  width: 220px;
}

.pt-navbar .navbar-brand:hover, .pt-navbar .navbar-brand:focus {
  color: lighten($pt-green, 10%);
}

.pt-navbar .navbar-nav > li > a {
  color: $pt-green;
}

.pt-navbar .navbar-nav > li > a:hover, .pt-navbar .navbar-nav > li > a:focus {
  color: lighten($pt-green, 10%);
}

.pt-navbar .navbar-nav > .open > a {
  background-color: $pt-green;
}

.pt-navbar .navbar-nav > .open > a:hover, .pt-navbar .navbar-nav > .open > a:focus {
  background-color: lighten($pt-green, 10%);
}

.pt-load-new-btn,
.pt-load-new-btn:active,
.pt-load-new-btn:focus,
.pt-load-new-btn:hover,
.pt-load-new-btn:active:hover,
.pt-load-new-btn:active:focus {
  border: none;
  border-radius: 0;
  background-color: $pt-green;
}
