/* TODO: UNCOMMENT THIS WHEN READY;
body > .inner {
  display: none;
}
 */

body.pg-loaded > .inner {
  display: block;
}

.pt-nav-container {
  background-color: #127B9C;
}

.pt-nav-container .container {
  padding-left: 0;
  padding-right: 0;
}

.pt-navbar {
  background-color: #127B9C;
  border: none;
  border-radius: 0;
  color: #fff;
  margin-bottom: 0;
}

.pt-navbar .navbar-brand {
  color: #fff;
}

.pt-navbar .navbar-brand:hover, .pt-navbar .navbar-brand:focus {
  color: rgba(255, 255, 255, 0.9);
}

.pt-navbar .navbar-nav > li > a {
  color: #fff;
}

.pt-navbar .navbar-nav > li > a:hover, .pt-navbar .navbar-nav > li > a:focus {
  color: rgba(255, 255, 255, 0.9);
}

.pt-navbar .navbar-nav > .open > a {
  background-color: #fff;
}

.pt-navbar .navbar-nav > .open > a:hover, .pt-navbar .navbar-nav > .open > a:focus {
  background-color: rgba(255, 255, 255, 0.9);
}

.pt-load-new-btn,
.pt-load-new-btn:active,
.pt-load-new-btn:focus,
.pt-load-new-btn:hover,
.pt-load-new-btn:active:hover,
.pt-load-new-btn:active:focus {
  border: none;
  border-radius: 0;
  background-color: #0C5971;
}
