/**
 * Put styles that will be used across many templates in here. Leave the other
 * css files to more template-specific styling so they are easier to locate
 */

/**
 * Variables
 */

$pt-default-fonts: 'Raleway', sans-serif;

$pt-green: #61C17A;

$pt-lt-pink: #f2bdbd;
$pt-pink: #C12D51;

$pt-lt-blue: #e5f0f3;
$pt-deep-blue: #127B9C;

$pt-lt-gray: #f5f5f5;
$pt-med-gray: #878186;
$pt-inactive-gray: #B8B3B8;

/**
 * Styles
 */

body {
  font-family: $pt-default-fonts;
}

[class*="col-"].pt-col-no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.pt-row-no-padding > [class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.pt-row-margin {
  margin-bottom: 10px;
}

.pt-color-green {
  color: $pt-green;
}

.pt-color-lt-gray {
  color: $pt-inactive-gray;
}

.pt-color-blue {
  color: $pt-deep-blue;
}

button.btn-link,
button.btn-link:hover,
button.btn-link:focus {
  color: $pt-green;
}

.pt-alerts .alert {
  margin-bottom: 0;
  border: none;
  border-radius: 0;
}

.btn-Twitter {
  background-color: $pt-green;
  padding: 25px;
  font-size: 18px;
  &:focus,
  &:hover {
    background-color: lighten($pt-green, 10%);
    color: #fff;
  }
}

.navbar-form {
  padding: 0;
}

/**
 * Modal styles, overriding bootstrap styles
 */

.modal-content {
  overflow: hidden;
}

.modal-header {
  background-color: $pt-deep-blue;
  border: none;
  color: #fff;
  padding: 10px 30px;
}

.modal-header .close {
  margin-top: -5px;
}

.modal-title {
  font-weight: 100;
}

.modal-header .close {
  color: #fff;
  opacity: 1;
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 100;
}

.modal-body {
  padding: 30px;
  padding-bottom: 0;
}

.modal-body .form-control {
  border: none;
  box-shadow: none;
  background-color: $pt-lt-gray;
}

.modal-footer {
  border: none;
  padding: 20px 30px;
}

.modal-footer .btn {
  padding-left: 40px;
  padding-right: 40px;
}

.modal-footer .btn-primary {
  background-color: $pt-green;
  border: none;
}

.modal-footer .btn-primary:hover,
.modal-footer .btn-primary:active,
.modal-footer .btn-primary:focus {
  background-color: lighten($pt-green, 10%);
  border: none;
}

.modal-footer .btn-default {
  background-color: $pt-lt-gray;
  border: none;
  color: $pt-med-gray;
}

.modal-footer .btn-default:hover,
.modal-footer .btn-default:active,
.modal-footer .btn-default:focus {
  background-color: darken($pt-lt-gray, 10%);
  border: none;
}

.modal-footer .btn + .btn {
  margin-left: 10px;
}
