/**
 * Put styles that will be used across many templates in here. Leave the other
 * css files to more template-specific styling so they are easier to locate
 */

/**
 * colors
 * lt-green: #61C17A; rgb(97, 193, 122);
 * green: #8AC13C; rgb(138, 193, 60);
 * blue: #127B9C;
 * dark-pink: #C12D51; rgb(193, 45, 81);
 */

body {
  font-family: 'Raleway', sans-serif;
}

[class*="col-"].pt-col-no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.pt-row-no-padding > [class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.pt-row-margin {
  margin-bottom: 10px;
}

.pt-color-green {
  color: #8AC13C;
}

.pt-color-lt-green {
  color: #61C17A;
}

.pt-color-lt-gray {
  color: #BAB2B9;
}

.pt-color-blue {
  color: rgb(18, 123, 156);
}

button.btn-link, button.btn-link:hover, button.btn-link:focus {
  color: #8AC13C;
}

.pt-alerts .alert {
  margin-bottom: 0;
  border: none;
  border-radius: 0;
}

/**
 * modal styles, overriding bootstrap styles
 */

.modal-content {
  overflow: hidden;
}

.modal-header {
  background-color: #127B9C;
  border: none;
  color: #fff;
  padding: 10px 30px;
}

.modal-header .close {
  margin-top: -5px;
}

.modal-title {
  font-weight: 100;
}

.modal-header .close {
  color: #fff;
  opacity: 1;
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 100;
}

.modal-body {
  padding: 30px;
  padding-bottom: 0;
}

.modal-body .form-control {
  border: none;
  box-shadow: none;
  background-color: #f5f5f5;
}

.modal-footer {
  border: none;
  padding: 20px 30px;
}

.modal-footer .btn {
  padding-left: 40px;
  padding-right: 40px;
}

.modal-footer .btn-primary {
  background-color: #8AC13C;
  border: none;
}

.modal-footer .btn-primary:hover,
.modal-footer .btn-primary:active,
.modal-footer .btn-primary:focus {
  background-color: rgba(138, 193, 60, .9);
  border: none;
}

.modal-footer .btn-default {
  background-color: #f5f5f5;
  border: none;
  color: #878186;
}

.modal-footer .btn-default:hover,
.modal-footer .btn-default:active,
.modal-footer .btn-default:focus {
  background-color: #e6e6e6;
  border: none;
}

.modal-footer .btn + .btn {
  margin-left: 10px;
}

/**
 * Other styles to be overridden
 */

.btn-Twitter {
  background-color: #8AC13C;
  padding: 25px;
  font-size: 18px;
}

.btn-Twitter:focus, .btn-Twitter:hover {
  background-color: rgba(138, 193, 60, .9);
  color: #fff;
}

.navbar-form {
  padding: 0;
}
