@import "{}/client/templates/css/global.scss";

.pt-login-page {
  background-color: $pt-lt-blue;
  height: 100vh;
}

.pt-login-block {
  background-color: #fff;
  padding: 40px 50px 20px;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -20%);
  text-align: center;
  border-radius: 6px;
  -moz-box-shadow:    0 0 8px -1px #999;
  -webkit-box-shadow: 0 0 8px -1px #999;
  box-shadow:         0 0 8px -1px #999;
  img {
    margin-top: 0;
    margin-bottom: 20px;
    width: 340px;
  }
  h4 {
    margin-bottom: 40px;
  }
  button.btn-link {
    font-size: 16px;
    margin-top: 12px;
  }
}
