@import "{}/client/templates/css/global.scss";

.pt-tweet:nth-child(2n+1) {
  background-color: #FBFBFB;
}

.pt-tweet {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}

.pt-tweet [class*="col-"] {
  position: relative;
}

.pt-account-group {
  font-size: 18px;
}

.pt-account-group a:hover,
.pt-account-group a:focus {
  text-decoration: none;
}

.pt-account-group a:hover .pt-user-name,
.pt-account-group a:focus .pt-user-name {
  color: rgb(18, 123, 156);
  text-decoration: underline;
}

.pt-account-group span {
  font-size: 14px;
}

.pt-account-group a:hover .pt-screen-name,
.pt-account-group a:focus .pt-screen-name {
  color: $pt-green;
  text-decoration: none;
}

.pt-account-group span.pt-user-name {
  font-size: 20px;
}

.pt-tweet-text {
  word-wrap: break-word;
}

.pt-media {
  margin-top: 15px;
  max-width: 100%;
  max-height: 300px;
  width: auto;
}

.pt-tweet-buttons-container,
.pt-ticket-message {
  isplay: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  width: 100%;
  justify-content: space-between;

}

a.pt-tweet-buttons {
  padding-left: 6px;
  padding-right: 6px;
}

a.pt-tweet-buttons:hover, a.pt-tweet-buttons:focus {
  text-decoration: none;
}

a.pt-tweet-buttons svg {
  height: 15px;
  width: 15px;
  margin: 0 auto;
  vertical-align: middle;
}

a.pt-tweet-buttons svg g {
  fill: $pt-pink;
}

a.pt-tweet-buttons.disabled svg g {
  fill: $pt-med-gray;
}

.pt-ticket-message {
  clear: both;
}

a.pt-ticket-created-link {
  color: $pt-inactive-gray;
  &:hover,
  &:active,
  &:focus {
    color: $pt-inactive-gray;
  }
  span.pt-ticket-created {
    display: block;
    font-size: 10px;
    padding-top: 10px;
    text-align: right;

  }
}

.twitter-logo img {
  margin-top: 16px;
  margin-right: 6px;
  height: 16px;
  width: 16px;
}
