.pt-tweet:nth-child(2n+1) {
  background-color: #FBFBFB;
}

.pt-tweet {
  padding-top: 20px;
  padding-bottom: 20px;
}

.pt-account-group {
  font-size: 18px;
}

.pt-account-group a:hover,
.pt-account-group a:focus {
  text-decoration: none;
}

.pt-account-group a:hover .pt-user-name,
.pt-account-group a:focus .pt-user-name {
  color: rgb(18, 123, 156);
  text-decoration: underline;
}

.pt-account-group span {
  font-size: 14px;
}

.pt-account-group a:hover .pt-screen-name,
.pt-account-group a:focus .pt-screen-name {
  color: #8AC13C;
  text-decoration: none;
}

.pt-tweet-text {
  word-wrap: break-word;
}

.pt-media {
  margin-top: 15px;
  max-width: 100%;
  max-height: 300px;
  width: auto;
}

.pt-tweet-buttons-container, .pt-ticket-message {
  display: block;
}

a.pt-tweet-buttons {
  padding-left: 6px;
  padding-right: 6px;
}

a.pt-tweet-buttons:hover, a.pt-tweet-buttons:focus {
  text-decoration: none;
}

a.pt-tweet-buttons svg {
  height: 15px;
  width: 15px;
  margin: 0 auto;
  vertical-align: middle;
}

a.pt-tweet-buttons.disabled svg g {
  fill: #BAB2B9;
}

.pt-ticket-message {
  clear: both;
}

span.pt-ticket-created {
  display: block;
  font-size: 11px;
  padding-top: 5px;
  text-align: right;
}

.twitter-logo img {
  height: 16px;
  width: 16px;
  margin-right: 24px;
  margin-left: 24px;
}
