@import "{}/client/templates/css/global.scss";

.container.pt-tweet-timeline {
  background-color: #fff;
  border-radius: 3px;
  -moz-box-shadow:    0 0 6px -1px #ccc;
  -webkit-box-shadow: 0 0 6px -1px #ccc;
  box-shadow:         0 0 6px -1px #ccc;
  transform: translateY(-50px);
}

button.pending {
  position: relative;
  transform: translateY(50%);
}

.pt-empty-collection {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
