.pt-screen-name-container.pt-col-abs {
  padding-top: 20px;
  padding-bottom: 20px;
  position: absolute;
  transform: translateY(50px);
}

.pt-screen-name-container.pt-col-abs .pt-screen-name-box {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  padding: 20px;
  width: auto;
}

.pt-screen-name-container.pt-col-abs h2 {
  display: inline;
  margin: 0;
}
