.pt-banner {
  position: relative;
}

.pt-row-abs {
  position: absolute;
  top: 0;
  transform: translateY(50%);
}

.pt-screen-name-container.pt-col-abs .pt-screen-name-box {
  background-color: rgba(80, 69, 77, 0.7);
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  padding: 20px;
  width: auto;
}

.pt-screen-name-container.pt-col-abs h2 {
  display: inline;
  margin: 0;
}
