.pt-viewLink:hover, .pt-viewLink:focus {
  color: #127B9C;
  text-decoration: none;
}

.pt-viewLink-text {
  display: inline-block;
  border-bottom: 2px solid #127B9C;
  position: relative;
}

.pt-viewLink-text.inactive {
  border: none;
  color: rgb(184, 179, 184);
}

h4.pt-viewLink-text {
  margin-top: 0;
  margin-bottom: 0;
  padding: 15px 15px;
}

.pt-viewLink-text img {
  height: 14px;
  position: absolute;
  right: 0;
  top: 8px;
}
