<template name="login">
  <div class="inner">
    <div class="pt-login-page">
      <div class="pt-login-block pt-rounded-shadow-box">
        {{> flashMessages}}
        <img src="images/pt-logo-vertical-lockup.png">
        <h4 class="pt-color-blue">
          To get started, we'll need you to sign in with Twitter.
        </h4>
        {{> loginButtons}}
        <button type="button" class="btn btn-link contactModal">
          Contact
        </button>
      </div>
    </div>
  </div>
</template>
