<template name="tweet">
  <div class="row pt-tweet">
    <div class="col-sm-2 pt-profile-img">
      <img src={{biggerProfileImageUrl}} class="img-responsive center-block" alt="Profile image">
    </div>
    <div class="col-sm-8">
      <div class="row">
        <div class="col-xs-6">
          <p>{{content.user.name}} (@{{content.user.screen_name}})</p>
        </div>
        <div class="col-xs-6">
          <p class="text-right">{{moFormat createdAt 'MMM Do YYYY, h:mm:ss a'}}</p>
        </div>
      </div>
      <p class="pt-tweet_text">
        {{content.text}}
      </p>
    </div>
    <div class="col-sm-2">
      <button type="button" class="btn btn-default btn-block btn-sm reply-btn openModal" data-modal-template="postReplyModal">
        <span class="glyphicon glyphicon-send"></span>&nbsp;Reply
      </button>
      <div class="dropdown">
        <button class="btn btn-default btn-block btn-sm dropdown-toggle pt-actions-dropdown" type="button" id="actionsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Paratweet
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="actionsDropdown">
          <li>
            <a href="#" class="openModal" data-modal-template="postTicketModal">
              Create New Ticket
            </a>
          </li>
          <li>
            <a href="#" class="openModal" data-modal-template="postTicketCommentModal">
              Add Comment to Ticket
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!--
    {{#if existingTickets}}
      <ul>
        {{#each existingTickets}}
          <li>Ticket #{{this.content.id}} opened</li>
        {{/each}}
      </ul>
    {{/if}}
    {{#if existingComments}}
      <ul>
        {{#each existingComments}}
          <li>Comment on Ticket #{{this.ticketId}}</li>
        {{/each}}
      </ul>
    {{/if}}
    -->
  </div>
</template>
